* {
	font-family: " Courier New", sans-serif;
	font-size: 15px;
}

body {
	background-color: white;
}


html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

#Orange { 
	color: orange; 
} 
p {
  color: yellow;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 17px;
}

.green { 
	background-color: #B6D8A9;
}
 
.blue { 
	border: 1px solid #5E9CD6;

}

img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

ul {
  list-style-type: none;
  letter-spacing: 5px;
}

.center {
	text-align: center;
	color: black
}


